.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
  background-color: #70f149;
  border-radius: 3%;
  padding: 10px;
}

.error {
  border: red 1px solid;
}
 
.error-message {
  color: red;
}

.active-filter {
  background-color: lightgreen;

}

.is-done {
  opacity: 0.5;
}